<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultConnection" value="SERVER=LAPTOP-TMML8LN7;DATABASE=OrderManagementSystem;Trusted_Connection=True"/>
		<add key="DBConnectionString" value="SERVER=TRIVI;DATABASE=OrderManagementSystem;Trusted_Connection=True"/>
	</appSettings>
</configuration>